extends layouts/main

block content
    .form__container
        form(action="/login", method="post")
            input(type="email", name="email", placeholder="Email")
            input(type="email", name="passowrd", placeholder="Password")
            input(type="submit", value="Log In")
        include partials/socialLogin
